.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.App h1,
h2 {
  font-size: 72px;
}

.content {
  max-width: 50%;
}

.contentInput {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  max-width: 100%;
}

.contentInput input {
  padding: 5px;
  width: 100px;
}

.contentValuesBorderRadius {
  align-items: center;
  background-color: #626262;
  border-radius: 6px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  height: 51px;
  margin: 25px 0;
  width: 286px;
}
